.Note {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 20px;
    margin-bottom: 16px;
    text-align: center;
}
  
.Note figure,
h5 {
    margin: 0 0;
}
  
.Heart {
    color: #f85032;
}
  
.Heart:hover {
    color: #5C5C5C;
}
  
.HeartOutline:hover {
    color: #f85032;
}

.ReadeMoreLink {
    color: #5C5C5C;
}

.ReadeMoreLink:hover {
    color: #f85032;
}

.NotePageLink:hover {
    color: black;
}