.App {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    background-color: #FAF9F6;
    min-height: 100vh;
}

.Main {
    padding-top: 100px;
}

* {
    box-sizing: border-box;
}
  
a {
    color: #2F2F2F;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
}
  
a:hover i {
    color: #F48F66;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #5C5C5C;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #F48F66;
}